/* // Loader.css */
.an {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    /* semi-transparent background */
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}

.animate {
    transform: scale(1);
}